@import "../../constants/styles/colors";

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $colorBlack;
  gap: 20px;

  &__item {
    color: $colorBlack;
    font-size: 18px;
    cursor: pointer;
  }
}
