@import "../../constants/styles/colors";

.segment {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: $colorWhite;
  border: 3px solid $colorShadow;
  padding: 15px;

  &_theme_dark {
    background-color: $colorBlue;
    border: none;
  }
}
