@import "../../constants/styles/colors";

.footer {
  grid-area: footer;
  background-color: $colorWhite;
  border-top: 2px solid $colorShadow;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  &__copyright {
    font-size: 16px;
    color: $colorBlack;
    margin: 0;

    @media (max-width: 450px) {
      margin-bottom: 7px;
    }
  }
}
