@import "../../../constants/styles/colors";

.card-post {
  height: 100%;
  min-width: 100%;
  border-radius: 20px;
  background-color: $colorWhite;
  border: 3px solid $colorShadow;
  padding: 15px;

  &_big {
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 7px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_big {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      @media (max-width: 450px) {
        gap: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  &__title, &__subtitle, &__text {
    margin: 0;
    padding: 0;
  }

  &__title, &__title *, &__title *:hover {
    font-size: 14px;
    color: $colorBlack;
  }

  &__title {
    &_big *, &_big *:hover {
      font-size: 16px;
    }
  }

  &__subtitle {
    font-size: 12px;
    color: $colorGray;

    &_big {
      font-size: 16px;
    }
  }

  &__text {
    font-size: 12px;
    color: $colorBlack;

    &_big {
      font-size: 16px;
      margin: 5px 0;
      padding: 0;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 7px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-height: 160px;
      object-fit: cover;
      object-position: center;
      border-radius: 20px;

      @media (max-width: 768px) {
        max-height: 300px;
      }
    }

    &_big {
      img {
        max-height: 380px;
      }
    }
  }
}
